.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#   git rm -r –cached .

### PyCharm ###
.idea
.idea/*

### vscode ###
.vscode
.vscode/*

.git